name: CI/CD

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  ARTIFACT_NAME__DOCS_BUILD: docs-build
  ARTIFACT_PATH__DOCS_BUILD: ./apps/docs/out
  ARTIFACT_NAME__DOCS_PLAYWRIGHT_REPORT: docs-playwright-report
  ARTIFACT_PATH__DOCS_PLAYWRIGHT_REPORT: ./apps/docs/playwright-report
  ARTIFACT_NAME__PACKAGE_BUILD: package-build
  ARTIFACT_PATH__PACKAGE_BUILD: ./packages/react-knob-headless/dist

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test
      - name: Test (types)
        run: npm run test:types
      - name: Test (lint)
        run: npm run test:lint
      - name: Test (format)
        run: npm run test:format
      - name: Build
        run: npm run build
      - name: Upload ${{ env.ARTIFACT_NAME__DOCS_BUILD }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME__DOCS_BUILD }}
          path: ${{ env.ARTIFACT_PATH__DOCS_BUILD }}
      - name: Upload ${{ env.ARTIFACT_NAME__PACKAGE_BUILD }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME__PACKAGE_BUILD }}
          path: ${{ env.ARTIFACT_PATH__PACKAGE_BUILD }}
  test-e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: mcr.microsoft.com/playwright:v1.40.1-jammy
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Test (E2E)
        env:
          # Fix Firefox crash in GitHub Actions
          # Details: https://github.com/microsoft/playwright/issues/6500#issuecomment-838515115
          HOME: /root
        run: npm run test:e2e
      - name: Upload ${{ env.ARTIFACT_NAME__DOCS_PLAYWRIGHT_REPORT }} artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.ARTIFACT_NAME__DOCS_PLAYWRIGHT_REPORT }}
          path: ${{ env.ARTIFACT_PATH__DOCS_PLAYWRIGHT_REPORT }}
          retention-days: 30
  deploy:
    runs-on: ubuntu-latest
    needs: [test, test-e2e]
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download ${{ env.ARTIFACT_NAME__DOCS_BUILD }} artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME__DOCS_BUILD }}
          path: ${{ env.ARTIFACT_PATH__DOCS_BUILD }}
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: react-knob-headless
          directory: ${{ env.ARTIFACT_PATH__DOCS_BUILD }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
